*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
}
.space{
  align-items: center;
  background-image: url(./55315hd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color:hsl(240, 60%, 5%);
  color: white;
  display: flex;
  height: 100%;
  justify-content:center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* diseño de planetas  */
.planet{
  border-radius: 50%;
  margin-left: 30px;
  position: relative;
}
.sol{
  border-radius: 50%;
  box-shadow: 5px 5px 60px yellow;
  background-image: radial-gradient(red ,yellow);
  height: 150px;
  order:0;
  position: relative;
  width: 150px;
}
.mercurio{
  background-image: radial-gradient(gray,rgb(58, 57, 57));
  height: 15px;
  width: 15px;
  transform-origin: -100px 0px;
  animation:Rotation 10s infinite linear;
  order:1;
}
.venus{
  background-image: linear-gradient(rgb(240, 160, 70),rgb(155, 98, 52),rgb(226, 162, 88));
  height: 20px;
  width: 20px;
  transform-origin: -150px 0px;
  animation: Rotation 15s infinite linear;
  order:2;
}
.tierra{
  background-image: linear-gradient(rgb(26, 66, 139),rgb(9, 75, 9),rgb(5, 40, 104),rgb(65, 112, 65),rgb(38, 72, 134));
  height: 35px;
  width: 35px;
  transform-origin: -200px 10px;
  animation: Rotation 20s infinite linear;
  order:3;
}
.marte{
  background-image: radial-gradient(orange 5%, rgb(170, 35, 2)80%);
  height: 25px;
  width: 25px;
  transform-origin: -260px 0px;
  animation: Rotation 25s infinite linear;
  order:4;
}
.jupiter{
  background-image: linear-gradient(rgb(170, 123, 70),rgb(155, 98, 52),rgb(219, 172, 119),rgb(150, 78, 22),rgb(223, 163, 95));
  height: 60px;
  width: 60px;
  transform-origin: -330px 30px;
  animation: Rotation 30s infinite linear;
  order:5;
}
.saturno{
  background-image: linear-gradient(yellow, rgb(180, 117, 0), yellow,rgb(180, 117, 0));
  height: 40px;
  width: 40px;
  transform-origin: -390px 40px;
  animation: Rotation 35s infinite linear;
  order:6;
}
.urano{
  background-image: radial-gradient(hsl(210,80%,40%),hsl(180,80%,40%));
  height: 20px;
  width: 20px;
  transform-origin: -450px 60px;
  animation: Rotation 45s infinite linear;
  order:7;
}
.neptuno{
  background-image: radial-gradient(hsl(210,80%,40%),hsl(240,80%,40%));
  height: 20px;
  width: 20px;
  transform-origin: -510px 80px;
  animation: Rotation 50s infinite linear;
  order:8;
}
.pluton{
  background-image: linear-gradient(rgb(104, 73, 38),rgb(155, 98, 52),rgb(117, 81, 40));
  height: 10px;
  width: 10px;
  transform-origin: -560px 100px;
  animation: Rotation 60s infinite linear;
  order:9;
  margin-right: 100px;
} 
/* animacion  */
@keyframes Rotation{
  100%{
    transform: rotate(360deg);
  }
}
/* nombres  */
.titulo{
  margin: 0;
  position: relative;
  top: 45%;
  left:62%;
  letter-spacing: 8px;
}
.name{
  font-size: .7em;
  font-weight: bold;
  position: absolute;
  left: 110%;
}
.sol .name{
  font-size: 1em;
}
